# Ansible secrets
**/files/.env*
!**/files/.env.example
.vault_pass

# Terraform
*.tfstate
*.tfstate.*

# secrets
*.tfvars
!*.tfvars.example
!zones.auto.tfvars
backend.hcl
.envrc

# plans
tfplan
*.tfplan

# local
.terraform/
.terraformrc
terraform.rc
crash.log
*_override.tf
override.tf
override.tf.json
