# {{ ansible_managed }}
#
# POSTGRES_PASSWORD is only honoured by initdb, on the first boot of an empty
# volume. Rotating it on a live database takes an ALTER ROLE as well.
POSTGRES_DB={{ odyssai_pg_db }}
POSTGRES_USER={{ odyssai_pg_user }}
POSTGRES_PASSWORD={{ pg_password }}
