MONGODB_URI=mongodb://{{ ipseis_vault_db_root_user }}:{{ ipseis_vault_db_root_password }}@{{ ipseis_db_container_name }}:27017/{{ ipseis_db_name }}?authSource=admin

JWT_SECRET={{ ipseis_vault_jwt_secret }}

# Frontend
FRONTEND_URL={{ ipseis_frontend_url }}

# Transactional mail
NODEMAILER_EMAIL={{ ipseis_nodemailer_email }}
NODEMAILER_PASSWORD={{ ipseis_vault_nodemailer_password }}
NODEMAILER_EMAIL_TO={{ ipseis_mail_to }}
