MONGODB_URI=mongodb://{{ ipseis_vault_db_root_user_dev }}:{{ ipseis_vault_db_root_password_dev }}@{{ ipseis_db_dev_container_name }}:27017/{{ ipseis_db_name }}?authSource=admin

JWT_SECRET={{ ipseis_vault_jwt_secret }}

# Frontend
FRONTEND_URL={{ ipseis_dev_frontend_url }}

# Transactional mail
NODEMAILER_EMAIL={{ ipseis_nodemailer_email }}
NODEMAILER_PASSWORD={{ ipseis_vault_nodemailer_password }}
NODEMAILER_EMAIL_TO={{ ipseis_dev_mail_to }}
