---
services:
  mongo:
    image: mongo:8.3.7@sha256:a7f5aa200005611166adcec0192c2f11d0acc3bfd9d5eb68e1a998a990412e41
    container_name: {{ komodo_app_name }}-db
    restart: unless-stopped
    env_file: {{ komodo_env_file }}
    labels:
      komodo.skip: # Prevent Komodo from stopping with StopAllContainers
    command: --quiet --wiredTigerCacheSizeGB 0.25
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    networks:
      - internal

  core:
    image: moghtech/komodo-core:2.3@sha256:768faad246f19f4c1ddfbb675346a7fe9a5010506d31ed4a21251199387004a2
    container_name: {{ komodo_app_name }}-core
    init: true
    restart: unless-stopped
    depends_on:
      - mongo
    env_file: {{ komodo_env_file }}
    environment:
      KOMODO_DATABASE_ADDRESS: mongo:27017
    volumes:
      - keys:/config/keys
      - ${COMPOSE_KOMODO_BACKUPS_PATH}:/backups
    labels:
      - traefik.enable=true
      - traefik.http.routers.komodo.rule=Host(`komodo.{{ portfolio_domain_com }}`)
      - traefik.http.routers.komodo.entrypoints=websecure
      - traefik.http.routers.komodo.tls.certresolver=letsencrypt
      - traefik.http.services.komodo.loadbalancer.server.port=9120
    networks:
      - internal
      - traefik-public

  periphery:
    image: moghtech/komodo-periphery:2.3@sha256:637bf3c03a84f04821c902eba12f63e527ea1f781a350489aa34f17f48f36e57
    container_name: {{ komodo_app_name }}-periphery
    init: true
    restart: unless-stopped
    depends_on:
      - core
    env_file: {{ komodo_env_file }}
    volumes:
      - keys:/config/keys
      ## Mount external docker socket
      - /var/run/docker.sock:/var/run/docker.sock
      ## Allow Periphery to see processes outside of container
      - /proc:/proc
      ## Default: /etc/komodo.
      - ${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}:${PERIPHERY_ROOT_DIRECTORY:-/etc/komodo}
    networks:
      - internal

networks:
  internal:
    name: komodo_internal
    internal: true
  traefik-public:
    name: traefik-public
    external: true

volumes:
  mongo-data:
  mongo-config:
  keys:
